@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<button onclick="buttonClick()">Click me, then check console</button>


@section Scripts
    {
    <script type="module" src="~/scripts/ScriptComponents/click-handler.js">
    </script>
}

