<?xml version="1.0" encoding="utf-8"?>
<!-- This transform will be applied by Octopus Deploy -->
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore>
      <environmentVariables>
        <environmentVariable value="Staging" xdt:Transform="SetAttributes(value)" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>